
@CHARSET "UTF-8";

html {
    height: 100%;

    scroll-behavior: smooth;
}

/* FONTS */

/* BODY */
body {
    min-height: 100%;

    background-color: white;

    font-family: Raleway,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
        font-weight: normal;

    color: #105286;
}

/* Raleway */
@font-face {
    font-family: "Raleway";

    /* IE9 Compat Modes */
    src: url("../fonts/raleway/raleway-regular.eot");
        /* IE6-IE8 */
    src: url("../fonts/raleway/raleway-regular-.eot#iefix") format("embedded-opentype"),
        /* Open Type Font */
        url("../fonts/raleway/raleway-regular.otf") format("opentype"),
        /* Legacy iOS */
        url("../fonts/raleway/raleway-regular.svg") format("svg"),
        /* Safari, Android, iOS */
        url("../fonts/raleway/raleway-regular.ttf") format("truetype"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-Medium";

    /* IE9 Compat Modes */
    src: url("../fonts/raleway/raleway-medium.eot");
        /* IE6-IE8 */
    src: url("../fonts/raleway/raleway-medium-.eot#iefix") format("embedded-opentype"),
        /* Open Type Font */
        url("../fonts/raleway/raleway-medium.otf") format("opentype"),
        /* Legacy iOS */
        url("../fonts/raleway/raleway-medium.svg") format("svg"),
        /* Safari, Android, iOS */
        url("../fonts/raleway/raleway-medium.ttf") format("truetype"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-medium.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-BoldCustom";

     /* IE9 Compat Modes */
    src: url("../fonts/raleway/raleway-bold.eot");
        /* IE6-IE8 */
    src: url("../fonts/raleway/raleway-bold-.eot#iefix") format("embedded-opentype"),
        /* Open Type Font */
        url("../fonts/raleway/raleway-bold.otf") format("opentype"),
        /* Legacy iOS */
        url("../fonts/raleway/raleway-bold.svg") format("svg"),
        /* Safari, Android, iOS */
        url("../fonts/raleway/raleway-bold.ttf") format("truetype"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-bold.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-ExtraBold";

    /* IE9 Compat Modes */
    src: url("../fonts/raleway/raleway-extra-bold.eot");
        /* IE6-IE8 */
    src: url("../fonts/raleway/raleway-extra-bold-.eot#iefix") format("embedded-opentype"),
        /* Open Type Font */
        url("../fonts/raleway/raleway-extra-bold.otf") format("opentype"),
        /* Legacy iOS */
        url("../fonts/raleway/raleway-extra-bold.svg") format("svg"),
        /* Safari, Android, iOS */
        url("../fonts/raleway/raleway-extra-bold.ttf") format("truetype"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-extra-bold.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-extra-bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-Black";

    /* IE9 Compat Modes */
    src: url("../fonts/raleway/raleway-black.eot");
        /* IE6-IE8 */
    src: url("../fonts/raleway/raleway-black-.eot#iefix") format("embedded-opentype"),
        /* Open Type Font */
        url("../fonts/raleway/raleway-black.otf") format("opentype"),
        /* Legacy iOS */
        url("../fonts/raleway/raleway-black.svg") format("svg"),
        /* Safari, Android, iOS */
        url("../fonts/raleway/raleway-black.ttf") format("truetype"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-black.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/raleway/raleway-black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.font-weight-medium {
    font-family:
        Raleway-Medium,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
},
.font-weight-bold {
    font-family:
        Raleway-Bold,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}
.font-weight-extra-bold {
    font-family:
        Raleway-ExtraBold,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}
.font-weight-black {
    font-family:
        Raleway-Black,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* NAVBAR */
#nasps-navbar{
    background-color: #fff;
}
#nasps-navbar .nav-link {
    color: #0a5286;
    padding-bottom: 5px;
}
#nasps-navbar .nav-link{
    list-style-type: none;
}
#nasps-navbar .nav-link.active { /* ACTIVE NAV-LINK */
    border-radius: 30px;

    background-color: #0a5286;

    color: white;
    padding: 5px 20px;
}
#nasps-navbar .nav-link#nav-link-application-center {
    color: #28bb97;
}
#nasps-navbar .navbar-brand img {
    max-height: 78px;

    margin-bottom: 0.45rem;
}
#btn-navbar-toggler {
    color: #0a5286;

    border: none;
    outline:none;
}
#nasps-navbar .dropdown .btn {
    color: white;

    background-color: #105286;

    border-radius: 30px;
}
#nasps-navbar .dropdown-menu {
    color: #105286;
}
#nasps-navbar .dropdown-item:focus {
    color: white;
    background-color: #105286;
}

#nasps-navbar .dropdown-menu a {
    color: #105286;
}
/* -------NAVBAR ICONS---------- */
nav {
    position: relative;
}
#navbar-icons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}
#navbar-icons .btn-primary {
    background-color: #105286;
    border-radius: 0;
    border-color: #105286;
}
/* ------------navbar icons------- */

.dropdown .dropdown-menu {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
/* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
    overflow-y: auto;
}
/* /NAVBAR */

/* CAROUSEL */
.carousel-caption h2 {
    font-size: 1.2rem;

    /* offset-x offset-y blur-radius color */
    /* text-shadow: 1px 1px 10px black; */
}
.carousel-caption h5 {
    font-size: 0.8rem;

    /* offset-x offset-y blur-radius color */
    /* text-shadow: 1px 1px 10px black; */
}
.carousel-caption .btn {
    font-size: 0.7rem;

    padding: 0.2rem 0.4rem;

    /* offset-x offset-y blur-radius color */
    text-shadow: 1px 1px 10px black;
}
#big-logo {
    max-height: 20rem;
    max-width: 27rem;
}
/* RESET */
@media (min-width: 576px),
(min-width: 768px),
(min-width: 992px),
(min-width: 1200px) {
    .carousel-caption h2 {
        font-size: 2rem;
    }
    .carousel-caption h5 { /* XS */
        font-size: 1.25rem;
    }
    .carousel-caption .btn {
        font-size: 1rem;

        padding: 0.375rem 0.75rem;

        text-shadow: none;
    }
}
.carousel-indicators li {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: transparent;
    margin: -20px 22px;
    border-radius: 100%;
    position: relative;
}
.carousel-indicators li.active:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/* BUTTONS */
.btn-carousel {
    border-width: 2px;
    border-radius: 30px;
    outline:none;
}
.btn-carousel:HOVER,
.btn-carousel:ACTIVE {
    border-color: white !important;
    background-color: transparent !important;
}
.btn-carousel.btn-carousel-light {
    color: white;
    border-color: white;
    outline:none;
}
.btn-carousel.btn-carousel-light:HOVER {
    color: white;
    border-color: white;
}
.btn-archive {
    border-radius: 40em;
    border-color: #25b095;
    color: #25b095;
}
.btn-archive.btn-outline-light:hover {
    color: white;
    border-color: white;
}

/* TECHNOLOGY-AND-INNOVATION */
#technology-and-innovation {
    color: white;
}
#technology-and-innovation .background {
    background-color: #0c3266;
}
#cards a.btn:HOVER {
    color: #1a4c82;
    border-color: #1a4c82;
}

/* PRESS-CENTER */
#press-center .background {
    background-image: url("../images/press-center-background.jpg");
    background-repeat: repeat-y;
    background-position: 0 0;
    background-size: cover;
}
#press-center #news {
    color: white;
    background-color: rgba(68, 140, 203, 0.72);
}
#press-center #press-releases {
    color: 1a4c82;

    background-color: #a7b3bd;
}
#press-center #without-header-1 {
    background-color: #25b095;
}
#press-center #media {
    color: #1a4c82;

    background-color: white;
}
#press-center #event {
    color: white;

    background-color: #2a4a74;
}
#press-center #without-header-2 {
    color: white;

    background-color: #0e3468;
}

/* NASPS-SECURITY-SOLUTIONS */
#security-solutions {
    line-height: 1;
}
#security-solutions .background {
    background-image: url("../images/security-solutions-background.jpg");
    background-position: top center;
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
#security-solutions h2 {
    color: white;

    /* offset-x offset-y blur-radius color */
    /* text-shadow: 1px 1px 10px black; */
}
#security-solutions .row .col,
#security-solutions .row .col a {
    color: hsl(206, 79%, 29%);
}
.icon-small img {
    width: 70px;
    height: 70px;
}
/* /NASPS-SECURITY-SOLUTIONS */

/* TECHNOLOGIES */
#technologies-intellectual-property {
    background-image: url("../images/press-center-background.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center top;
}
#cards {
    background-color: #0e3468;
    color: #105286;
}
#cards .card {
    min-height: 16em;
    opacity: 0.85;
    background-color: #b4bec7;
}
#cards .card.card-active{
    background-color: rgba(180, 190, 199, .68);
}
#cards .card button,
#cards .card a {
    border-radius: 40em;
    color: white;
}
.btn-outline-light.disabled.active {
    background-color: #f8f9fa;
}
.btn-outline-light:hover {
    background-color: transparent;
    color: #105286;
}
#cards .btn-outline-light.active {
    color: #105286;
    border-color:  #105286;
}
/* /TECHNOLOGIES */

/* ABOUT */
#about {
    background-color: #003471;
}
#about .background-mage,
#contact-nasps {
    background-image: url("../images/press-center-background.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

#about #contact-form .form-control {
            border-radius: 0;
        }

        #contact-form-button {
            border-radius: 40em;
            border-color: #25b095;
            color: #25b095;
        }
        #contact-form-button:HOVER {
            border-color: white;
            color: white;
        }

        #about-cards .card {
            min-height: 19em;
            opacity: 0.85;
            background-color: #b4bec7;
        }
            #about-cards .card button,
            #about-cards .card a {
                border-radius: 40em;
                color: white;
            }
            #about-cards .btn-outline-light:HOVER {
                background-color: transparent;
                color: #105286;
            }
            #about-cards .btn-outline-light.ACTIVE {
                color: #105286;
                border-color:  #105286;
            }
            #about-cards a.btn:HOVER {
                color: #1a4c82;
                border-color: #1a4c82;
            }
    #creation-solutions-card .card {
        background-color: #28bb97;
    }

/* /ABOUT */

/* TECHNOLOGIES */
#technologies {
    background-color: #0e3468;
}
    #technologies-cards {
        background-image: url("../images/technologies-cards.jpg");
        background-size: cover;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position: top left;
    }
        #technologies-cards .card {
            min-height: 19em;
            opacity: 0.85;
            background-color: #b4bec7;
        }
            #technologies-cards .card button,
            #technologies-cards .card a {
                border-radius: 40em;
                color: white;
            }
            #technologies-cards .btn-outline-light:HOVER {
                background-color: transparent;
                color: #105286;
            }
            #technologies-cards .btn-outline-light.ACTIVE {
                color: #105286;
                border-color:  #105286;
            }
            #technologies-cards a.btn:HOVER {
                color: #1a4c82;
                border-color: #1a4c82;
            }
/* /TECHNOLOGIES */

/* BACK-TO-TOP */
.btn-back-to-top:HOVER {
    color: #25b095 !important;
    text-decoration: none;
}
/* /BACK-TO-TOP */

/* CONTENT */
    /* DASHED LIST */
    ul.dashed-list {
        list-style-type: none;
    }
    ul.dashed-list > li {
        text-indent: 0px;
    }
    ul.dashed-list > li:before {
        padding-right: 1rem;
        content: "-";
    }
    /* ORDERED LIST */
    ol.ordered-list {
        list-style: none;
        counter-reset: ordered-counter;
    }
    ol.ordered-list li {
        counter-increment: ordered-counter;
    }
    ol.ordered-list li::before {
        content: counter(ordered-counter) ") ";
        font-family: Arial, Helvetica, sans-serif;
    }

    /* FORSE ARIAL */
    .arial {
        font-family: Arial, Helvetica, sans-serif !important;
    }

    /* IMAGE SHADOW */
    .img-shadow {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }
    /* /SHADOW */

    /*
      FOR ELECTRONIC PASSPORT,
      ELECTRONIC-ID CARD,
      ELECTRONIC MIGRANT CARD
    */
    #electronic-passport,
    #electronic-id-card,
    #electronic-migrant-card,
    .security-solutions-background {
        background-image: url("../images/seccurity-solutions-background.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat;
        background-position: center;
        overflow: hidden;
    }

    /* PRESS CENTER */
    .press-center-background {
        background-image: url("../images/press-center-background.jpg");
        background-size: cover;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position: center top;
    }
    /* /PRESS CENTER */

    /*
       FOR ELECTRONIC PASSPORT,
       ELECTRONIC ID CARD,
       ELECTRONIC MIGRANT CARD
     */
    .off-comtainer {
        max-width: 20rem;
        margin-left: -10rem;
    }
    .off-container-left {
        margin: 1rem 1.5rem 1rem -20rem;
    }
    .off-container-right {
        margin: 1rem -20rem 1rem 1.5rem;
    }

    /* ORDERED LISTS */
    ol li {
        font-family: Arial, Helvetica, sans-serif !important;
    }
    /* /ORDERED LISTS */

/* /CONTENT */

/* CARDS */
#about-cards {
    background-color: #0e3568;
}
/* /CARDS */

/* ABOUT */
#about,
#contact-nasps {
    background-color: #003471;
}
/* /ABOUT */

/* FOOTER */
#footer{
    padding-top: 10px;
}
#footer .btn-link-blue {
    color: #1a4c82;
}
#footer .btn-link-white {
    color: white;
}
/* /FOOTER */

/* LANG DROPDOWN */
#langSelect button {
    background-color: #105286;
}
#langSelect .dropdown-item {
    background-color: transparent;
}
/* /LANG DROPDOWN */

/* #contact-nasps .background-mage { */
/*
#about-cards {
    background-image: url("../images/press-center-background.jpg");
}
*/
#contact-form .form-control {
    border-radius: 0px;
}

#nasps-profile {
    background-image: url("../images/about-nasps/profile-bg.jpg");
}

#about #contact-form .form-control {
    border-radius: 0;
}



@media (min-width: 576px) { /* SM */
}
@media (min-width: 768px) { /* MD */
}
@media (min-width: 992px) { /* LG */
}
@media (min-width: 1200px) { /* XL */
}


/* The new styling starts here  */

.ft-pt-25{
    padding-top: 25px;
}
.ft-pt-20{
    padding-top: 20px;
}



.list-style-type-none{
    list-style-type: none;
}

/* Styling for mobile */

@media only screen and (max-width: 600px) {


    #security-solutions h2 {
        color: #003471;
    }


  }